<form id="faqForm" class="form-horizontal col-sm-9 col-md-offset-2 col-md-8" role="form">
	<fieldset>
		<legend>Create New FAQ</legend>
		
		<div class="form-group">
			<label class="control-label col-sm-12 col-md-2" for="faqPublished">Published: </label>
			<div class="col-sm-12 col-md-2" data-toggle="tooltip" title="if published FAQ will be visible to the visitors">
				<input id="faqPublished" <% if(faqPublished === "1") { %> checked <% } %> data-width="100" data-onstyle="success"  data-on="yep" data-off="nope" type="checkbox">
			</div>
		</div>		
	
		<div class="form-group">				
			<label class="control-label col-sm-12 col-md-2" for="faqTitle">Title: </label>
			<div class="col-sm-12 col-md-8">
				<input name="faqTitle" type="text" class="form-control" id="faqTitle" value="<%= faqTitle %>" placeholder="type title here">
			</div>
		</div>
	
		<div class="form-group">
			
			<label class="control-label col-sm-12 col-md-2" for="faqCategory_ID">Category: </label>
			<div class="col-sm-12 col-md-3">			
				<div class="btn-group" data-toggle="buttons">
					<% _.each(catList, function(category, i){  %>	
					<label class="btn btn-warning <% if (i == 0) { %> active   <% } %>">
						<input name="faqCategory_ID" value="<%= category.faqCategoryID %>" type="radio" <% if (i == 0) { %> checked=""  <% } %>><%= category.faqCategoryName %>
					</label>
					<% }); %>	
				</div>
			</div>
			
			<label class="control-label col-sm-12 col-md-2" for="lang_ID">Language: </label>
			<div class="col-sm-12 col-md-5">			
				<div class="btn-group" data-toggle="buttons">
					<% _.each(langList, function(lang, i){  %>	
					<label class="btn btn-info <% if (i == 0) { %> active   <% } %>" title="<%= lang.langName %>">
						<input name="lang_ID" value="<%= lang.langID %>" type="radio" <% if (i == 0) { %> checked=""  <% } %>><%= lang.langShortName %>
					</label>
					<% }); %>	
				</div>
			</div>
		</div>	
	
		<div class="form-group">
			<label class="control-label col-sm-12 col-md-2" for="faqContent">Content: </label>
			<div class="col-sm-12 col-md-10">
				<textarea id="tinymceOnMe" class="tinymceOnMe form-control resize" rows="10" name="faqContent"><%= faqContent %></textarea>
			</div>
		</div>
		
		<div class="form-group">				 
			<div class="col-md-12">		
				<div class="pull-right">
					<a class="btn btn-default" type="button" id="cancel" href="#">Go Back</a>
					<button id="saveFaq" type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save Changes</button>
				</div>
			</div>
		</div>

	</fieldset>
</form>